sudo: required

language: node_js
node_js:  
  - "node"
  -  "4"

branches:
    - master

services:
    - docker

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - xvfb

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - xvfb

before_script:
    - echo "Before test" && npm install nightmare
script:
    - echo "Hello, Travis" && ./test/travis/scripts/test.sh
after_script:
    - echo "After test"
